<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <h1>Convert <%= @base_currency %></h1>
    <p>Go <a href="/">back</a>.</p>
    <ul>
      <% currencies = ["AED", "AFN", "ALL", "AMD", "ANG", "AOA", "ARS", "AUD", "AWG", "AZN"] %>
      <% currencies.each do |currency| %>
        <li>
          <a href="/<%= @base_currency %>/<%= currency %>">
            Convert 1 <%= @base_currency %> to <%= currency %>...
          </a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
