<h1>Convert <%= @currency_symbol %></h1>
<a href="/">Back</a>
<ul>
  <% @currencies.each do |symbol, _name| %>
    <li><a href="/<%= @currency_symbol %>/<%= symbol %>">Convert 1 <%= @currency_symbol %> to <%= symbol %>...</a></li>
  <% end %>
</ul>
