<h1>Convert <%=@original_currency%></h1>
<a href="/">Go back</a>
<ul>
  <% @symbols.each do |key, value| %>
    <li><a href="/<%=@original_currency%>/<%=key%>">Convert 1 <%=@original_currency%> to <%=key%>...</li> 
  <%end%>
</ul>
